// Mixin Flex-box
@mixin flex(
        $flex-direction: row, 
        $justify-content: flex-start, 
        $align-items: flex-start,
        $flex-wrap: nowrap,
        $gap: 0px) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    gap: $gap;
};


// Mixin Banner
@mixin banner ($url, $size, $positionX, $positionY, $height: auto) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position-x: $positionX;
    background-position-y: $positionY;
    height: $height;
    color: map-get($color, 'white');
};