// Mixin Flex-box
@mixin flex(
        $justify-content: flex-start, 
        $align-items: flex-start,
        $gap: 0px,
        $flex-direction: row,
        $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
};


// Mixin Banner
@mixin banner ($url, $size, $positionX, $positionY, $height: auto) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position-x: $positionX;
    background-position-y: $positionY;
    height: $height;
    color: map-get($color, 'white');
};

@mixin banner_small ($url, $size, $positionY, $height: auto) {
    @include banner($url, $size, top, $positionY, $height);
    width: 100%;
    .flex {
        @include flex($align-items: flex-end);
        h1 {
            margin-bottom: 1rem;
        }
    }
}

// Mixin Tools
@mixin toolCard($url) {
    @include banner($url, cover, top, 40%)
}