// Herramientas
#tools {
    .banner {
        &#player-tool {
            @include banner_small('../assets/img/herramientas-jugador.webp', cover, 45%, 200px);
        }
        &#dungeon-master-tool {
            @include banner_small('../assets/img/herramientas-dungeon-master.webp', cover, 35%, 200px);
        }
        &#rules-tool {
            @include banner_small('../assets/img/herramientas-reglas.webp', cover, 40%, 200px);
        }
    }
    .tools-list {
        margin: 48px 0;
        .tools-grid {
            + .tools-grid {
                margin-top: 24px;  
            }
            .tool {
                height: 250px;
                @include flex($align-items: flex-end);
                .title {
                    color: map-get($color, 'white');
                    background-color: rgba(0, 0, 0, .5);
                    padding: 1em;
                    width: 100%;
                }
            }
            #tool-race {
                @include toolCard('../assets/img/jugador-razas.webp');
            }
            #tool-equipment {
                @include toolCard('../assets/img/jugador-equipos.webp');
            }
            #tool-spell {
                @include toolCard('../assets/img/jugador-hechizos.webp');
            }
            #tool-class {
                @include toolCard('../assets/img/jugador-clases.webp');
            }
            #tool-background {
                @include toolCard('../assets/img/jugador-trasfondo.webp');
            }
            #tool-treasure-generator {
                @include toolCard('../assets/img/dungeon-master-generador-tesoro.webp');
            }
            #tool-bestiary {
                @include toolCard('../assets/img/dungeon-master-bestiario.webp');
            }
            #tool-screen {
                @include toolCard('../assets/img/dungeon-master-screen.webp');
            }
            #tool-calculator-nd {
                @include toolCard('../assets/img/dungeon-master-calculadora-nd.webp');
            }
            #tool-adventures {
                @include toolCard('../assets/img/reglas-aventuras.webp');
            }
            #tool-books {
                @include toolCard('../assets/img/reglas-libros.webp');
            }
            #tool-conditions {
                @include toolCard('../assets/img/reglas-condiciones.webp');
            }
            #tool-quick-references {
                @include toolCard('../assets/img/reglas-referencias-rapidas.webp');
            }
        }
    }
}