// Consultas
#consults {
    .banner {
        @include banner_small('../assets/img/consultas.webp', cover, 50%, 200px);
    }
    #consult-content {
        padding-top: 6em;
        padding-bottom: 6em;
        &.flex {
            @include flex($gap: 24px);
        }
    }
    .info {
        width: 50%;
        p {
            font-size: map-get($sub-title-size, 'md');
            margin-bottom: 1.5rem;
        }
        span {
            font-size: map-get($middle-title-size, 'md');
        }
    }
    .form {
        width: 50%;
        @include grid(2, calc(50% - 12px), $column-gap: 24px);
        .col-all {
            grid-column: 1 / -1;
        }
        p {
            font-size: map-get($small-text-size, 'md');
            margin-bottom: 1.5rem;
        }

    }
}