// Herramientas
#tools {
    .banner {
        &#player-tool {
            @include banner_small('https://i.postimg.cc/K8kbcP3T/herramientas-jugador.webp', cover, 45%, 200px);
        }
        &#dungeon-master-tool {
            @include banner_small('https://i.postimg.cc/zfT1KqjX/herramientas-dungeon-master.webp', cover, 35%, 200px);
        }
        &#rules-tool {
            @include banner_small('https://i.postimg.cc/J4dmW60m/herramientas-reglas.webp', cover, 40%, 200px);
        }
    }
    .tools-list {
        margin: 48px 0;
        .tools-grid {
            + .tools-grid {
                margin-top: 24px;  
            }
            .tool {
                height: 250px;
                @include flex($align-items: flex-end);
                .title {
                    color: map-get($color, 'white');
                    background-color: rgba(0, 0, 0, .5);
                    padding: 1em;
                    width: 100%;
                }
            }
            #tool-race {
                @include toolCard('https://i.postimg.cc/W36TLsFf/jugador-razas.webp');
            }
            #tool-equipment {
                @include toolCard('https://i.postimg.cc/66ctM5N8/jugador-equipos.webp');
            }
            #tool-spell {
                @include toolCard('https://i.postimg.cc/C5c05J4G/jugador-hechizos.webp');
            }
            #tool-class {
                @include toolCard('https://i.postimg.cc/hvDgKNV4/jugador-clases.webp');
            }
            #tool-background {
                @include toolCard('https://i.postimg.cc/LsPmDtHS/jugador-trasfondo.webp');
            }
            #tool-treasure-generator {
                @include toolCard('https://i.postimg.cc/SxM0bmH7/dungeon-master-generador-tesoro.webp');
            }
            #tool-bestiary {
                @include toolCard('https://i.postimg.cc/85w9mcrD/dungeon-master-bestiario.webp');
            }
            #tool-screen {
                @include toolCard('https://i.postimg.cc/qB1H8b8n/dungeon-master-screen.webp');
            }
            #tool-calculator-nd {
                @include toolCard('https://i.postimg.cc/QMG2XR3L/dungeon-master-calculadora-nd.webp');
            }
            #tool-adventures {
                @include toolCard('https://i.postimg.cc/63spxHHT/reglas-aventuras.webp');
            }
            #tool-books {
                @include toolCard('https://i.postimg.cc/g0L259Hf/reglas-libros.webp');
            }
            #tool-conditions {
                @include toolCard('https://i.postimg.cc/y8bNv6cm/reglas-condiciones.webp');
            }
            #tool-quick-references {
                @include toolCard('https://i.postimg.cc/NjMM629G/reglas-referencias-rapidas.webp');
            }
        }
    }
}