// Botón principal
.btn-primary {
    font-family: $font-family;
    background: map-get($color, 'red');
    padding: 1rem 1.5rem;
    color: map-get($color, 'white');
    font-weight: map-get($font-weight, 'regular');
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background: map-get($color, 'red-dark');
    }
}

// Botón budget
.btn-badget {
    background-color: map-get($color, 'red');
    color: map-get($color, 'white');
    padding: .5em 2em;
    font-weight: map-get($font-weight, 'semibold');
    border: 0;
    border-radius: 8px;
    height: 32px;
    cursor: pointer;
    &:hover,&.selected {
        background-color: map-get($color, 'red-dark');
    }
    img {
        height: 100%;
    }
}